API_SPORTS_KEY=replace_with_your_key
PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/sportsdb
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=true
FOOTBALL_BASE_URL=https://v3.football.api-sports.io
F1_BASE_URL=https://v1.formula-1.api-sports.io
